<dialog class="modal" id="<%= id %>">
  <div class="modal-content">
    <h3><%= title %></h3>
    <p><%= message %></p>
    <div class="modal-btns">
      <button class="<%= btn1.class %>" id="<%= btn1.id %>">
        <%= btn1.text %>
      </button>
      <button class="<%= btn2.class %>" id="<%= btn2.id %>">
        <%= btn2.text %>
      </button>
    </div>
  </div>
</dialog>
