<dialog class="modal" id="<%= id %>">
  <div class="modal-content">
    <h3><%= title %></h3>
    <% if (locals.message) { %>
    <p><%= message %></p>
    <% } else { %>
    <%- include(`../${content.include}`, content.locals) %>
    <% } %>
    <div class="modal-btns">
      <button
        class="<%= btn1.class %>"
        data-action="<%= btn1.dataAction %>"
        form="<%= btn1.form %>"
      >
        <%= btn1.text %>
      </button>
      <button
        class="<%= btn2.class %>"
        data-action="<%= btn2.dataAction %>"
        form="<%= btn2.form %>"
      >
        <%= btn2.text %>
      </button>
    </div>
  </div>
</dialog>
