<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= book.title %></title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main>
      <h1><%= book.title %></h1>
      <p>
        <strong>Author:</strong>
        <%= book.author %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= book.description %>
      </p>
      <p>
        <strong>Published:</strong>
        <%= book.published_date %>
      </p>
      <p>
        <strong>Pages:</strong>
        <%= book.pages %>
      </p>
      <p>
        <strong>ISBN:</strong>
        <%= book.isbn %>
      </p>
      <p>
        <strong>Genres:</strong>
      </p>
      <ul>
        <% if (genres.length === 0) { %>
        <li>No genres yet</li>
        <% } else { %>
        <% genres.forEach((genre) => { %>
        <li><%= genre.name %></li>
        <% }) %>
        <% } %>
      </ul>
      <form action="/books/delete/<%= book.id %>" method="post">
        <button>Delete</button>
      </form>
      <a href="/books">Back to Books</a>
    </main>
  </body>
</html>
