<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/commonHeadTags') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/books/detail.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <script type="module" src="/scripts/partials/modal.js" defer></script>
    <script type="module" src="/scripts/books/bookDetail.js" defer></script>
  </head>
  <body>
    <%- include('../../partials/navbar') %>
    <main>
      <header class="book-header">
        <h1 class="title"><%= book.title %></h1>
        <figure class="book-cover">
          <img
            src="<%= book.cover_path %>"
            alt="Cover image of <%= book.title %>"
          />
          <figcaption>
            <p>
              <small>
                By
                <%= book.author %>
              </small>
            </p>
            <p>
              <small><%= book.publishedDate %></small>
            </p>
          </figcaption>
        </figure>
      </header>

      <p class="description"><%= book.description %></p>

      <section class="book-info">
        <ul class="book-details">
          <li class="book-details__item">
            <h3>Pages</h3>
            <%- include('../../partials/icons/book') %>
            <p><%= book.pages %></p>
          </li>
          <li class="book-details__item">
            <h3>ISBN</h3>
            <%- include('../../partials/icons/barCode') %>
            <p><%= book.isbn %></p>
          </li>
        </ul>
        <section class="genres">
          <h2>Genres</h2>
          <ul>
            <% if (genres.length === 0) { %>
            <li class="fallback">No genres yet</li>
            <% } else { %>
            <% genres.forEach((genre) => { %>
            <li class="genre"><%= genre %></li>
            <% }) %>
            <% } %>
          </ul>
        </section>
      </section>
    </main>
    <footer>
      <form
        id="deleteBookForm"
        action="/books/delete/<%= book.id %>"
        method="post"
      >
        <button class="btn btn--danger" id="deleteBookBtn" type="button">
          <%- include('../../partials/icons/trashCan') %> Delete
        </button>
      </form>
      <button class="btn" id="updateBookBtn">
        <%- include('../../partials/icons/write') %> Update
      </button>
    </footer>
    <%- include('../../partials/modal', { 
      id: 'confirmDeleteModal', 
      title: 'Are you sure you want to delete this book?', 
      message: 'The book cannot be recovered',
      btn1: {
        dataAction: 'confirm',
        text: 'Delete',
        class: 'btn btn--danger'
      },
      btn2: {
        dataAction: 'cancel',
        text: 'Cancel',
        class: 'btn'
      }
    }) %>
    <%- include('../../partials/modal', { 
      id: 'updateBookModal', 
      title: 'Update Book', 
      content: 'books/partials/updateBookForm',
      btn1: {
        dataAction: 'cancel',
        text: 'Cancel',
        class: 'btn btn--danger'
      },
      btn2: {
        dataAction: 'confirm',
        text: 'Save changes',
        class: 'btn'
      }
    }) %>
  </body>
</html>
