<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/commonHeadTags') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/books/index.css" />
    <link rel="stylesheet" href="styles/partials/search.css" />
    <link rel="stylesheet" href="styles/partials/modal.css" />
    <link rel="stylesheet" href="styles/partials/form.css" />

    <% if (books.length === 0) { %>
    <link rel="stylesheet" href="styles/partials/empty-section.css" />
    <% } else { %>
    <link rel="stylesheet" href="styles/books/partials/book-list.css" />
    <link rel="stylesheet" href="styles/books/partials/book-card.css" />
    <link rel="stylesheet" href="styles/partials/pagination.css" />
    <% } %>

    <script type="module" src="/scripts/books/bookIndex.js" defer></script>
    <script type="module" src="/scripts/books/bookForm.js" defer></script>
  </head>
  <body>
    <%- include('../../partials/navbar') %>
    <% const searchOptions = { 
  action: '/books', 
  label: 'Search by title or author', 
  placeholder: 'Search books...'
} %>
    <main>
      <h1 class="title">Books</h1>
      <div class="actions">
        <%- include('../../partials/search', searchOptions) %>
        <button id="modalBtn" class="link">
          <%- include('../../partials/icons/plus') %> Add a new book
        </button>
      </div>
      <% if (books.length === 0) { %>
      <%- include('../../partials/empty', { fallback }) %>
      <% } else { %>
      <%- include('../partials/bookList', { books }) %>
      <% } %>
    </main>
    <% if (books.length > 0) { %>
    <%- include('../../partials/pagination', { page, totalPages, search }) %>
    <% } %>
    <%- include('../../partials/modal', { 
      id: 'addBookModal', 
      title: 'Add a new book', 
      content: {
        include: 'books/partials/bookForm',
        locals: {
          action: `/books/add`,
        }
      },
      btn1: {
        dataAction: 'cancel',
        text: 'Go back',
        class: 'btn btn--secondary'
      },
      btn2: {
        dataAction: 'confirm',
        form: 'bookForm',
        text: 'Add',
        class: 'btn'
      }
    }) %>
  </body>
</html>
