<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/commonHeadTags') %>
    <link rel="stylesheet" href="/styles/genres/detail.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/form.css" />
    <link rel="stylesheet" href="/styles/books/partials/book-list.css" />
    <link rel="stylesheet" href="/styles/books/partials/book-card.css" />

    <% if (genre.books.length === 0) { %>
    <link rel="stylesheet" href="/styles/partials/empty-section.css" />
    <% } %>

    <script type="module" src="/scripts/genres/detail.js" defer></script>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../../partials/navbar') %>
    <main>
      <h1 class="title"><%= genre.name %></h1>
      <div class="actions">
        <button class="btn btn--danger" id="deleteGenreBtn" type="button">
          <%- include('../../partials/icons/trashCan') %> Delete
        </button>
        <button class="btn" id="updateGenreBtn">
          <%- include('../../partials/icons/write') %> Update
        </button>
      </div>

      <% if (genre.books.length > 0) { %>
      <section class="books">
        <%- include('../../books/partials/bookList', { books: genre.books }) %>
      </section>
      <% } else { %>
      <%- include('../../partials/empty', {
          fallback: {
            description: 'This genre has no books yet.',
            link: {
              href: '/books',
              call: 'Add a new book',
            },
          }
        }) %>
      <% } %>
    </main>

    <%- include('../../partials/modal', {
      id: 'confirmDeleteModal',
      title: 'Confirm Deletion',
      content: {
        include: 'partials/deleteForm',
        locals: {
          action: `/genres/delete/${genre.id}`,
          warning: 'The books contained in it will not be deleted.',
        }
      },
      btn1: {
        text: 'Delete',
        class: 'btn btn--danger',
        dataAction: 'confirm',
        form: 'deleteForm',
      },
      btn2: {
        text: 'Cancel',
        class: 'btn',
        dataAction: 'cancel',
      },
    }) %>

    <%- include('../../partials/modal', {
      id: 'updateGenreModal',
      title: 'Update Genre',
      content: {
        include: 'genres/partials/genreForm',
        locals: {
          action: `/genres/update/${genre.id}`,
          password: true,
        }
      },
      btn1: {
        text: 'Go back',
        class: 'btn btn--secondary',
        dataAction: 'cancel',
      },
      btn2: {
        text: 'Save changes',
        class: 'btn',
        dataAction: 'confirm',
        form: 'genreForm',
      },
    }) %>
  </body>
</html>
